.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 1%;
    border: 2px solid salmon;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}