.grid {
	display: grid;
	height: calc(100vh - 75px);
}

.form {
	margin: auto;
	text-align: center;
}

.form button {
	margin-top: 1.5rem;
	padding: 0.5rem 0;
}

.form input {
	padding: 0.4rem 3.3rem 0.4rem 0.4rem;
}
